body {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fullHeight {
  min-height: 100dvh;
  min-height: 100vh;
}
